body {
  background-image: linear-gradient(to bottom, orange 25%, white 100%, orange 100%);
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: xxx-large; 
  font-style: oblique;
}

h2 {
  text-align: center;
}

.box-space {
  display: flex;
  justify-content: space-between;
}

.box {
  flex: 1 1 calc(25% - 12px);
  max-width: 250px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  transition: all 0.3s ease;
  height: 400px;
  margin: auto;
  position: relative; 
  top: -35px;
}

.box:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-25px);
}

.box-content h1, .box-content p, .box-content h2, .box-content b {
  margin: 0; 
}

.button-space {
 text-align: center;
 margin: 20px 0;
}

button {
  background-color: rgb(20, 209, 252); 
  color: rgb(0, 0, 0); 
  padding: 10px 20px; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  position: relative; 
  top: -60px;
}

button:hover {
  background-color: #89dcf3; 
}